<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="centeredPage">
    <!-- Begin actual content -->
    <header>
        <h1>{{if .Title}}{{ .Title }}{{else}}Untitled{{end}}</h1>
        {{partial "darkmode.html" .}}
    </header>
    {{partial "menu.html" .}}
    <article>
        {{ if (and $.Site.Data.config.enableToc (not (.Params.disableToc))) }}
        <aside class="mainTOC">
            <h3>Table of Contents</h3>
            {{ .TableOfContents }}
        </aside>
        {{end}}
        {{- .Content -}}
    </article>
</div>
</body>
</html>

